.logo{
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
}

@media (max-width: 720px) {
    .logo{
        width: 250px;
    }
}

.form{
    margin: 10px;
}