{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="TEAM 4" />
    <meta name="og:type" content="website" />
    <meta name="og:title" content="TXTer" />
    <meta name="og:image" content="../static/og_image.png" />
    <meta name="og:description" content="TXTerはテキストを共有するサービスを提供するサイトです。" />
    <!--<meta name="og:url" content="https://texer.html.xdomain.jp" /> -->
    <meta name="description" content="TXTerはテキストを共有するサービスを提供するサイトです。">
    <meta meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="../static/icon.ico">
    <title>TXTer | new TXT</title>
    <link rel="stylesheet" type="text/css" href="../static/common.css">
  </head>
  
  <body>
    <p class="index">新しくTXTを作る</p>
    <form action="{% url 'regist' %}" method="POST">
      {% csrf_token %}
      <textarea name="txt" cols="200" rows="30" placeholder="TXT本文"></textarea >

      <div>
        <label for="pub">パブリックにする</label>
        <input type="checkbox" name="pub">
      </div>
      <input name="regist" type="submit" value="投稿する">
      </ul>
    </form>

  </body>
</html>